<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">

<head th:replace="~{/home-fragments::head}"></head>

<body>
	<div class="page-holder">
		<!-- navbar-->
		<header th:replace="~{/home-fragments::header}"></header>

	</div>
	<!-- HERO SECTION-->
	<div class="container">
		<div id="custom-alert" class="custom-alert alert alert-danger" th:if="${failed}">
				<p th:text="${failed}"></p>
			</div>
		<section class="hero pb-3 bg-cover bg-center d-flex align-items-center"
			style="background: url(img/hero-banner-alt.jpg)">
			<div class="container py-5">
				<div class="row px-4 px-lg-5">
					<div class="col-lg-6">
						<p class="text-muted small text-uppercase mb-2">Cảm hứng mới 2024</p>
						<h1 class="h2 text-uppercase mb-3">Giảm 20% cho bộ sưu tập mới</h1><a class="btn btn-dark"
							th:href="@{/products/0}">Bộ sưu tập</a>
					</div>
				</div>
			</div>
		</section>
		<!-- CATEGORIES SECTION-->
		<section class="pt-5">
			<header class="text-center">
				<p class="small text-muted small text-uppercase mb-1">Các bộ sưu tập</p>
				<h2 class="h5 text-uppercase mb-4">Một số mặt hàng tiêu biểu</h2>
			</header>
			<div class="row">
				<div class="col-md-4"><a class="category-item" th:href="@{/find-products/0?id=1}"><img class="img-fluid"
							th:src="@{/img/t-shirt.jpg}" style="height: 620px;" alt="" /><strong class="category-item-title">Áo thun</strong></a>
				</div>
				<div class="col-md-4"><a class="category-item mb-4" th:href="@{/find-products/0?id=5}"><img class="img-fluid"
							th:src="@{/img/shose.jpg}" style="height: 242px;" alt="" /><strong class="category-item-title">Giày</strong></a><a
						class="category-item" th:href="@{/find-products/0?id=3}"><img class="img-fluid" th:src="@{img/dress.jpg}"
							alt="" /><strong class="category-item-title">Đầm</strong></a>
				</div>
				<div class="col-md-4"><a class="category-item" th:href="@{/find-products/0?id=6}"><img class="img-fluid"
							th:src="@{/img/jeans.jpg}" alt="" /><strong
							class="category-item-title">Quần jean</strong></a>
				</div>
			</div>
		</section>
		<!-- TRENDING PRODUCTS-->
		<section class="py-5">
			<header>
				<p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
				<h2 class="h5 text-uppercase mb-4">Top sản phẩm được bán chạy</h2>
			</header>
			<div class="row">
				<!-- PRODUCT-->
				<div class="col-xl-3 col-lg-4 col-sm-6" th:each="product : ${products}">
					<div class="product text-center">
						<div class="position-relative mb-3">
							<div class="badge text-white bg-"></div><a class="d-block"
								th:href="@{/product-detail/{id}(id = ${product.id})}"><img
									style="max-height: 322px; min-height: 322px;" class="img-fluid w-100"
									th:src="'data:image/jpeg;base64,' + ${product.image}"></a>
							<div class="product-overlay">
								<ul class="mb-0 list-inline">

									<li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
											th:href="@{/customer/add-to-cart(id=${product.id})}" method="post">Thêm vào giỏ hàng</a></li>

								</ul>
							</div>
						</div>
						<h6> <a class="reset-anchor" th:href="@{/product-detail/{id}(id = ${product.id})}"
								th:text="${product.name}"></a></h6>
						<p class="small text-muted" th:text="'$' + ${product.salePrice}"></p>
					</div>
				</div>

			</div>
		</section>
		<!-- SERVICES-->
		<section class="py-5 bg-light">
			<div class="container">
				<div class="row text-center gy-3">
					<div class="col-lg-4">
						<div class="d-inline-block">
							<div class="d-flex align-items-end">
								<svg class="svg-icon svg-icon-big svg-icon-light">
									<use xlink:href="#delivery-time-1"> </use>
								</svg>
								<div class="text-start ms-3">
									<h6 class="text-uppercase mb-1">Miễn phí ship</h6>
									<p class="text-sm mb-0 text-muted">Miễn phí ship toàn quốc</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="d-inline-block">
							<div class="d-flex align-items-end">
								<svg class="svg-icon svg-icon-big svg-icon-light">
									<use xlink:href="#helpline-24h-1"> </use>
								</svg>
								<div class="text-start ms-3">
									<h6 class="text-uppercase mb-1">Dịch vụ 24 x 7</h6>
									<p class="text-sm mb-0 text-muted">Miễn phí ship toàn quốc</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="d-inline-block">
							<div class="d-flex align-items-end">
								<svg class="svg-icon svg-icon-big svg-icon-light">
									<use xlink:href="#label-tag-1"> </use>
								</svg>
								<div class="text-start ms-3">
									<h6 class="text-uppercase mb-1">Lễ hội</h6>
									<p class="text-sm mb-0 text-muted">Miễn phí ship toàn quốc</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- NEWSLETTER-->
		<section class="py-5">
			<div class="container p-0">
				<div class="row gy-3">
					<div class="col-lg-6">
						<h5 class="text-uppercase">Let's be friends!</h5>
						<p class="text-sm text-muted mb-0">Nisi nisi tempor consequat laboris nisi.</p>
					</div>
					<div class="col-lg-6">
						<form action="#">
							<div class="input-group">
								<input class="form-control form-control-lg" type="email"
									placeholder="Enter your email address" aria-describedby="button-addon2">
								<button class="btn btn-dark" id="button-addon2" type="submit">Subscribe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="~{/home-fragments::footer}"></footer>
	<!-- JavaScript files-->
	<div th:replace="~{/home-fragments::script}"></div>
	<script>
		// ------------------------------------------------------- //
		//   Inject SVG Sprite - 
		//   see more here 
		//   https://css-tricks.com/ajaxing-svg-sprite/
		// ------------------------------------------------------ //
		function injectSvgSprite(path) {

			var ajax = new XMLHttpRequest();
			ajax.open("GET", path, true);
			ajax.send();
			ajax.onload = function (e) {
				var div = document.createElement("div");
				div.className = 'd-none';
				div.innerHTML = ajax.responseText;
				document.body.insertBefore(div, document.body.childNodes[0]);
			}
		}
		// this is set to BootstrapTemple website as you cannot 
		// inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
		// while using file:// protocol
		// pls don't forget to change to your domain :)
		injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

	</script>
	<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</div>
</body>

</html>