<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:insert="~{/fragments::header}">

	<!-- Custom styles for this page -->
	<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="~{/fragments::sidebar}">
		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav th:replace="~{/fragments::topbar}"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Danh sách đơn hàng đã thực hiện</h1>
					<div th:if="${success}" class="text-center alert alert-success">
						<p th:text="${success}"></p>
					</div>
					<div th:if="${error}" class="text-center alert alert-danger">
						<p th:text="${error}"></p>
					</div>
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header d-flex py-3 justify-content-between">
							<h3 th:if="${result}" th:text="${result}" class="text-center primary"></h3>

							<Button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal"
								style="float: right;">Lọc</Button>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Ngày đặt</th>
											<th>Ngày giao hàng</th>
											<th>Khách hàng</th>
											<th>Số lượng</th>
											<th>Thành tiền</th>
											<th>Phương thức thanh toán</th>
											<th>Ngày nhận</th>
											<th>Trạng thái</th>
											<th>Thao tác</th>

										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Ngày đặt</th>
											<th>Ngày giao hàng</th>
											<th>Khách hàng</th>
											<th>Số lượng</th>
											<th>Thành tiền</th>
											<th>Phương thức thanh toán</th>
											<th>Ngày nhận</th>
											<th>Trạng thái</th>
											<th>Thao tác</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="order:${orders}">
											<td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"></td>
											<td th:text="${#dates.format(order.deliveryDate, 'yyyy-MM-dd')}"></td>
											<td th:text="${order.user.firstName} + ' ' + ${order.user.lastName}"></td>
											<td th:text="${order.quantity}"></td>
											<td th:text="${order.totalPrice}"></td>
											<td th:text="${order.paymentMethod}"></td>
											<td th:text="${#dates.format(order.orderComplete, 'yyyy-MM-dd')}"></td>
											<td th:text="${order.orderStatus}"></td>
											<td>
												<button type="button" class="btn btn-primary open-order-modal"
													data-toggle="modal" data-target="#orderModal"
													th:data-order="${order}" th:attr="data-target=${'#detailModal'+order.id}">
													Chi tiết
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:repalce="~{/fragments::footer}"></footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a th:replace="~{/fragments::scroll}"></a>

	<!-- Logout Modal-->
	<div th:replace="~{/fragments::logoutModal}"></div>


	<!-- Update Modal-->
	<!-- Modal -->
	<div class="modal fade" id="detailButton" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<form th:object="${order}" th:action="@{/admin/remove-order}" method="delete">
			<input type="hidden" id="idEdit" name="id" />
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Xóa đơn hàng</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Bạn muốn xóa đơn hàng này
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Từ chối</button>
						<button type="submit" class="btn btn-primary">Yes</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- Filter Modal -->
	<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<form th:action="@{/admin/filtered-orders}" method="get">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Lọc</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="mb-3">
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="startDate" class="col-form-label">Ngày bắt đầu:</label>
									<input type="date" class="form-control" id="startDate" name="startDate">
								</div>
								<div class="col-md-6 mb-3">
									<label for="endDate" class="col-form-label">Ngày kết thúc:</label>
									<input type="date" class="form-control" id="endDate" name="endDate">
								</div>
							</div>
						</div>
						<div class="mb-3">
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="minTotalPrice" class="col-form-label">Giá tối thiểu:</label>
									<input type="number" class="form-control" id="minTotalPrice" name="minTotalPrice">
								</div>
								<div class="col-md-6 mb-3">
									<label for="maxTotalPrice" class="col-form-label">Giá tối đa:</label>
									<input type="number" class="form-control" id="maxTotalPrice" name="maxTotalPrice">
								</div>
							</div>
						</div>
						<div class="mb-3">
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="minQuantity" class="col-form-label">Số lượng tối thiểu:</label>
									<input type="number" class="form-control" id="minQuantity" name="minQuantity">
								</div>
								<div class="col-md-6 mb-3">
									<label for="maxQuantity" class="col-form-label">Số lượng tối đa:</label>
									<input type="number" class="form-control" id="maxQuantity" name="maxQuantity">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
						<button type="submit" class="btn btn-primary">OK</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- end filter modal  -->

	<!-- Modal -->
	<div class="modal fade" th:each="order : ${orders}" th:attr="id=${'detailModal' + order.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<table class="nested-table" id="orderDetailTable">
						<thead>
							<tr>
								<th>Ảnh</th>
								<th style="width: 280px;">Sản phẩm</th>
								<th>Số lượng</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="orderDetail:${order.orderDetailList}">
								<td>
									<img><img class="my-product-image" style="height: 40px; width: 40px;" alt=""
										th:src="'data:image/jpeg;base64,' + ${orderDetail.product.image}">
								</td>
								<td th:text="${#strings.length(orderDetail.product.name) &gt; 30 ? #strings.substring(orderDetail.product.name, 0, 30) + '...' : orderDetail.product.name}"></td>
								<td th:text="${orderDetail.quantity}"></td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{/fragments::script}"></div>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script th:src="@{/js/list-order.js}"></script>

</body>

</html>