<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{/home-fragments::head}"></head>

<body>
	<div class="page-holder">
		<!-- navbar-->
		<header th:replace="~{/home-fragments::header}"></header>

	</div>
	<div class="container">
		<!-- HERO SECTION-->
		<section class="py-5 bg-light">
			<div class="container">
				<div class="row px-4 px-lg-5 py-lg-4 align-items-center">
					<div class="col-lg-6">
						<h1 class="h2 text-uppercase mb-0">Đơn hàng của bạn</h1>
					</div>
					<div class="col-lg-6 text-lg-end">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
								<li class="breadcrumb-item"><a class="text-dark" href="index.html">Trang chủ</a></li>
								<li class="breadcrumb-item active" aria-current="page">Đơn hàng của bạn</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<section class="py-5">
			<h2 class="h5 text-uppercase mb-4">Chi tiết</h2>
			<div class="row">
				<div class="col-lg-12 mb-4 mb-lg-0">
					<!-- CART TABLE-->
					<div class="table-responsive mb-4">
						<div th:if="${success}" class="text-center alert alert-success">
							<p th:text="${success}"></p>
						</div>
						<table class="table text-nowrap">
							<thead class="bg-light">
								<tr>
									<th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Ngày
											đặt</strong></th>
									<th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Ngày
											giao hàng</strong></th>
									<th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Trạng
											thái</strong></th>
									<th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Số
											lượng</strong></th>
									<th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Thành
											tiền</strong></th>
									<th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Phương
											thức thanh toán</strong></th>
									<th class="border-0 p-3" scope="col"> <strong
											class="text-sm text-uppercase"></strong></th>
								</tr>
							</thead>
							<tbody class="border-0">
								<tr th:each="order : ${orders}">
									<td class="ps-0 py-3  border-light" scope="row">
										<div class="d-flex align-items-center">
											<span><b>[(${#dates.format(order.orderDate, 'yyyy-MM-dd')})]</b></span>
										</div>
									</td>
									<td class="ps-0 py-3  border-light" scope="row">
										<div class="d-flex align-items-center">
											<span><b>[(${#dates.format(order.deliveryDate, 'yyyy-MM-dd')})]</b></span>
										</div>
									</td>
									<td class="p-3 py-3  border-light" scope="row">
										<div class="d-flex align-items-center">
											<p th:text="${order.orderStatus}"></p>
										</div>
									</td>

									<td class="p-3 py-3  border-light" scope="row">
										<div class="d-flex align-items-center">
											<p th:text="${order.quantity}"></p>
										</div>
									</td>

									<td class="p-3 py-3  border-light" scope="row">
										<div class="d-flex align-items-center">
											<p style="color: red">[(${order.totalPrice})]K VNĐ</p>
										</div>
									</td>

									<td class="p-3 py-3  border-light" scope="row">
										<div class="d-flex align-items-center">
											<span>[(${order.paymentMethod})]</span>
										</div>
									</td>
									<td class="p-3 py-3  border-light" scope="row">
										<div class=" align-items-center">
											<a th:href="@{/customer/order-detail(id = ${order.id})}"
												class="button-cancel">Chi tiết</a>
											<a th:if="${order.isAccept == false and order.orderStatus.equals('Chờ xác nhận')}"
												th:href="@{/customer/reject-order(id = ${order.id})}" class="button"
												style="color: red; margin-left: 10px;">Hủy đơn</a>
											<a th:if="${order.isAccept == true and order.orderStatus.equals('Đang vận chuyển')}"
												th:href="@{/customer/complete-order(id = ${order.id})}" class="button"
												style="color: black; margin-left: 10px;">Đã nhận được hàng</a>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					<!-- CART NAV-->
					<div class="bg-light px-4 py-3">
						<div class="row align-items-center text-center">
							<div class="col-md-6 mb-3 mb-md-0 text-md-start"><a
									class="btn btn-link p-0 text-dark btn-sm" th:href="@{/products/0}"><i
										class="fas fa-long-arrow-alt-left me-2"> </i>Tiếp tục mua sắm</a></div>

						</div>
					</div>
				</div>

			</div>
		</section>
	</div>
	<footer th:replace="~{/home-fragments::footer}"></footer>
	<!-- JavaScript files-->
	<div th:replace="~{/home-fragments::script}"></div>
	<script>

		// ------------------------------------------------------- //
		//   Inject SVG Sprite - 
		//   see more here 
		//   https://css-tricks.com/ajaxing-svg-sprite/
		// ------------------------------------------------------ //
		function injectSvgSprite(path) {

			var ajax = new XMLHttpRequest();
			ajax.open("GET", path, true);
			ajax.send();
			ajax.onload = function (e) {
				var div = document.createElement("div");
				div.className = 'd-none';
				div.innerHTML = ajax.responseText;
				document.body.insertBefore(div, document.body.childNodes[0]);
			}
		}
		// this is set to BootstrapTemple website as you cannot 
		// inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
		// while using file:// protocol
		// pls don't forget to change to your domain :)
		injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

	</script>
	<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</div>
</body>

</html>